<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AV1 </title>
    <link rel="stylesheet" style type="text/css" href="_Layout.cshtml.css" asp-append-version="true" />


<body style="font-family:arial; margin:50px;">

    <h1 style="text-align:center; color:purple;">Últimos Lançamentos</h1>
    <P style="font-size:20px; text-align:center;"> As mochilas e lancheiras queridinhas da Loja Joy!<br><br> Produtos
        impermeáveis, ultra
        resistentes, espaçosos, com
        resfriamento eficiente e tudo que você precisa! </P>
    <div id="dv1" style="background:#111; border-radius:4px; color:plum; padding:30px; margin:20px;">
        <h2 style="margin:0px;">Mochila 4You: <span style="color:beige;">R$369,90</span></h2>
        <p style="color:#b2b2b2;">Alça confortável, larga capacidade, <span style="color:plum;">tecido à prova
                d'Água</span>, com <span style="color:plum;">bolso traseiro</span> para sua segurança.</p>
        <a href="/" class="botao"
            style="display:inline-block; color:#332200; background-color:orchid; border-radius:4px; padding:10px; text-decoration:none;">Comprar
            mochila</a>
    </div>
    <div id="dv2" style="background:#111; border-radius:4px; color:plum; padding:30px; margin:20px;">
        <h2 style="margin:0px;">Lancheira Midi: <span style="color:beige;">R$149,99</span></h2>
        <p style="color:#b2b2b2;">Novo lançamento, <span style="color:plum;">com mensagem personalizável.</span>
            Praticidade com beleza, a<span style="color:plum;"> lancheira térmica</span> possui o tamanho ideal para
            você carregar suas
            refeições.</p>
        <a href="/" class="botao"
            style="display:inline-block; color:#332200; background-color:orchid; border-radius:4px; padding:10px; text-decoration:none;">Comprar
            lancheira</a>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Atividade_QUA - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

</body>

</head>

</html>
