.footer {position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

body{
  font-family: arial;
  margin: 50px;
}

#dv1{
  background: #111;
  border-radius: 4px;
  color: #fff;
  padding: 30px;
  margin:20px;
}

h1{
  text-align: center;
}

span{
  color: #febe01;
}

{
  color:#b2b2b2;
}p

.botao{
  display: inline-block;
  color: #332200;
  background-color:#febe01;
  border-radius: 4px;
  padding: 10px;
  text-decoration: none;
}

#dv2{
  background: #111;
  border-radius: 4px;
  color: #fff;
  margin:20px;
  padding: 30px;
}

h2{
  margin:0px;
}
